<div class="col-md-4 col-md-offset-4 form-style-5 top-margin">
  
  <%= form_for(@match) do |f|   %>
  
    <fieldset>
      <legend><span class="number">1</span> Create a Match </legend>
      <%= f.text_field :location, class: "form-control", placeholder: "Enter location", autofocus: true %>
      <%= f.text_field :match_date, class: "form-control", placeholder: "Enter match date", autofocus: true %>
      <%= f.text_field :match_time, class: "form-control", placeholder: "Enter match time", autofocus: true %>
      <%= f.label :home_team_id  %>
      <%= f.collection_select(:home_team_id, current_user.teams.all, :id, :name, html: {id: "job"} )  %>  
    </fieldset>
    
    <fieldset>
      <legend><span class="number">2</span> Additional Info</legend>
      <textarea name="field3" placeholder="Enter Additional Match Information"></textarea>
    </fieldset>
    
    <%= f.submit %>
    
 <% end %>
 
</div>