<!DOCTYPE html>
<html>
<head>
  <title>Sport Connect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <% if logged_in? %>
                            <%= current_user.username %>
                        <% end %>
                    </a>
                </li>
                <% if logged_in? %>
                <li>
                    <%= link_to 'Profile', user_path(current_user) %>
                </li>
                <li>
                    <%= link_to 'Create Team', new_team_path %>
                </li>
                <% end %>
                <li>
                    <a href="#">Matches</a>
                </li>
                <li>
                    <a href="#">Performance History</a>
                </li>
                <% if logged_in? %>
                <li>
                    <%= link_to 'My Teams', user_teams_path(current_user.teams) %>
                </li>
                <% end %>
                <li>
                    <a href="#">Find Match</a>
                </li>
                <li>
                    <a>Create Match</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!--
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
        -->
  
        
<%= yield %>



</body>
</html>
